<section id="about" class="about">
  <h2>About Me</h2>
  <div class="skills-container">
    <div class="skill-category">
      <h3>Languages</h3>
      <div class="skills">
        <span>Python</span>
        <span>R</span>
        <span>JavaScript</span>
        <span>SQL</span>
        <span>RESTful APIs</span>
        <span>Microservices</span>
      </div>
    </div>
    <div class="skill-category">
      <h3>Frameworks</h3>
      <div class="skills">
        <span>Django</span>
        <span>Flask</span>
        <span>FastAPI</span>
        <span>ReactJS</span>
        <span>NextJS</span>
      </div>
    </div>
    <div class="skill-category">
      <h3>Libraries</h3>
      <div class="skills">
        <span>NumPy</span>
        <span>Pandas</span>
        <span>TensorFlow</span>
        <span>PyTorch</span>
        <span>Scikit-learn</span>
        <span>OpenCV</span>
      </div>
    </div>
    <div class="skill-category">
      <h3>Machine Learning</h3>
      <div class="skills">
        <span>LLM</span>
        <span>Generative AI</span>
        <span>Fairness-Aware Learning</span>
      </div>
    </div>
    <div class="skill-category">
      <h3>Data Science</h3>
      <div class="skills">
        <span>Data Mining</span>
        <span>Data Pipelines</span>
        <span>Ethical AI</span>
        <span>Power BI</span>
        <span>Tableau</span>
      </div>
    </div>

    <div class="skill-category">
      <h3>Tools</h3>
      <div class="skills">
        <span>Docker</span>
        <span>Git</span>
        <span>Tableau</span>
        <span>PowerBI</span>
      </div>
    </div>
  </div>
</section>
